body, html {
    font-family: "Nunito", sans-serif;
    background-color: #e8eaed;
}

.Container {
    display: flex;
    padding: 10px;
}
    
  .UsersCard {
    margin: 5px 20px;
  }
    
  footer.StickyFooter {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    background-color: #dedede;
    border-top: solid 1px #dedede;
  }

  header.StickyHeader {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    padding: 10px;
    background-color: #dedede;
  }

  .greyBackground {
    background-color: #dedede;
  }

  .padding50 {
    padding-top: 65px;
  }
    
  .MessageForm {
    margin-left: 10px;
	background-color:#737373;
  }
    
  .MessageBox {
    float: left;
    width: 98%;
    margin: 5px 0 0 2%;
  }
    
  .MessageBox .ChatMessage {
    width: 80%;
    min-height: 40px;
  }
    
  .MessageBox .ChatMessage .RightBubble {
    position: relative;
    background: #008080;
    border-top-left-radius: .4em;
    border-bottom-left-radius: .4em;
    border-bottom-right-radius: .4em;
    padding: 5px 10px 10px;
    left: 15%;
    color: white;
  }
    
  .MessageBox .ChatMessage .RightBubble span.MsgName {
    font-size: 12px;
    font-weight: bold;
    color: white;
  }
  .MessageBox .ChatMessage .RightBubble span.MsgDate {
    font-size: 10px;
  }
    
  .MessageBox .ChatMessage .RightBubble:after {
    content: '';
    position: absolute;
    right: 0;
    top: 13px;
    width: 0;
    height: 0;
    border: 27px solid transparent;
    border-left-color: #008080;
    border-right: 0;
    border-top: 0;
    margin-top: -13.5px;
    margin-right: -27px;
  }
  .MessageBox .ChatMessage .LeftBubble {
    position: relative;
    background: #808080;
    border-top-right-radius: .4em;
    border-bottom-left-radius: .4em;
    border-bottom-right-radius: .4em;
    padding: 5px 10px 10px;
    left: 5%;
    color: white;
  }
  .MessageBox .ChatMessage .LeftBubble span.MsgName {
    font-size: 12px;
    font-weight: bold;
    color: white;
  }
  .MessageBox .ChatMessage .LeftBubble span.MsgDate {
    font-size: 10px;
  }
  .MessageBox .ChatMessage .LeftBubble:after {
    content: '';
    position: absolute;
    left: 0;
    top: 13px;
    width: 0;
    height: 0;
    border: 27px solid transparent;
    border-right-color: #808080;
    border-left: 0;
    border-top: 0;
    margin-top: -13.5px;
    margin-left: -27px;
  }
    
  .MessageBox .ChatStatus {
    min-height: 49px;
  }
  
  .ChatStatus{
	color: white;
  }
  
  .MessageBox .ChatStatus{
    display: block;
    font-size: 10px;
    font-style: italic;
    color: #777;
    height: 15px;
    left: 10%;
    right:10%;
  }
  
  .ChatDate{
	display: block;
    font-size: 10px;
    font-style: italic;
    color: white;
    height: 15px;
    left: 10%;
    right:10%;
  }
    
  .MessageBox .ChatStatus .ChatContentCenter {
    padding: 5px 10px;
    background-color: white;
    border-radius: 6px;
    font-size: 12px;
    color: #555;
    height: 35px;
    left: 10%;
    right:10%;
  }
  
  .ChatContent {
    overflow-y: scroll;
    height: 600px;
	background-color: #737373;
  }

  .chatPadding {
    padding-top: 73px;
  }
  
  .Jumbotron {
	  background-color: white;
      width: 500px;
	  height: auto;
      margin: 0 auto;
  }

  .DeleteRoom {
    float: right;
/*    font-size: 30px;
*/  }
  
  .input{
	  width: 100%;
  }

  .grayBackground {
      background-color: #e1e1f7;
  }
 
 
 .logo{
	display: block;
    margin-left: auto;
    margin-right: auto;
	width: 30%;
 }

.label{
	font-weight: bold;
	color: white;
}

.loginButton{
	font-weight: bold;
	color: white;
}

 .idea {
  font-weight: 400;
 }

.login {
  display: block;
  width: 100%;
}

.bold {
  font-weight: 700;
}

.gradient {
  background: #00d2ff;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #3a7bd5, #00d2ff);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #3a7bd5, #00d2ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.heartAction {
    transition: transform .2s; /* Animation */
}

.heartAction:hover {
  transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
